<%- include('./../layouts/header.ejs', {title:'Crear usuario'}) -%>
  <section class="jumbotron">
    <div class="container">
      <form class="row g-3 needs-validation" method="POST" action="/usuarios/register" novalidate>
        <div class="col-md-12 n-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="nombre" value="" required />
        </div>
        <div class="col-md-12 n-3">
          <label for="apellido" class="form-label">Apellido</label>
          <input type="text" class="form-control" name="apellido" id="apellido" value="" required />
        </div>
        <div class="col-md-12 n-3">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" name="email" id="email" value="" required />
        </div>
        <div class="col-md-12 n-3">
          <label for="contraseña" class="form-label">Contraseña</label>
          <input type="text" class="form-control" name="contraseña" id="contraseña" value="" required />
        </div>
        <div class="col-md-12 n-3">
          <label for="documento" class="form-label">Documento</label>
          <input type="text" class="form-control" name="documento" id="documento" value="" required />
        </div>
        <div class="col-md-12 n-3">
          <label for="direccion" class="form-label">Direccion</label>
          <input type="text" class="form-control" name="direccion" id="direccion" value="" required />
        </div>
        <div class="col-md-12 n-3">
          <label for="telefono" class="form-label">Telefono</label>
          <input type="text" class="form-control" name="telefono" id="telefono" value="" required />
        </div>
        <div class="col-md-12 n-3">
          <label for="fechaNacimiento" class="form-label">Fecha Nacimiento (YYYY-MM-DD)</label>
          <input type="text" class="form-control" name="fechaNacimiento" id="fechaNacimiento" value="" required />
        </div>
        <div class="col-md-12 n-3">
          <label for="id_estado" class="form-label">Id Estado (1 o 2)</label>
          <input type="number" class="form-control" name="id_estado" id="id_estado" value="" required />
        </div>
        <div class="col-12">
          <div class="row justify-content-between">
            <a href="javascript:history.back()" class="btn btn-secondary">Atrás</a>
            <button class="btn btn-primary" type="submit" id="boton">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  </main>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script>
    const $boton = document.getElementById("boton");

    boton.addEventListener("click", async (e) => {
      e.preventDefault();

      let nombre = document.getElementById("nombre").value;
      let apellido = document.getElementById("apellido").value;
      let email = document.getElementById("email").value;
      let contraseña = document.getElementById("contraseña").value;
      let documento = document.getElementById("documento").value;
      let telefono = document.getElementById("telefono").value;
      let direccion = document.getElementById("direccion").value;
      let fechaNacimiento = document.getElementById("fechaNacimiento").value;
      let id_estado = document.getElementById("id_estado").value;

      const data = await register(nombre, apellido, email, contraseña, documento, telefono, direccion, fechaNacimiento, id_estado);
      console.log(data);
      if (data.status == 200) {
        alert(data.stored.nombre + " " + data.msg);
        window.location.href = "/";
      } else {
        alert(data.error[0].msg);
      }
    });

    const register = async (nombre, apellido, email, contraseña, documento, telefono, direccion, fechaNacimiento, id_estado) => {
      try {
        const request = await fetch("http://localhost:3000/usuarios/register", {
          method: "POST",
          body: JSON.stringify({
            nombre,
            apellido,
            email,
            contraseña,
            documento,
            telefono,
            direccion,
            fechaNacimiento,
            id_estado
          }),
          headers: {
            "Content-Type": "application/json",
          },
        });
        const datos = await request.json();
        return datos;
      } catch (error) {
        return error;
      }
    };
  </script>
  <%- include("./../layouts/footer.ejs") -%>